<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,360}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{640,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>main_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,360}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{643,1},{640,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>map_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,360}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1285,1},{640,360}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>bg.png</string>
            <key>size</key>
            <string>{1926,362}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5bec95acd61b08f88fb927fd5e2f265d:2264caf127ef474269c8837597117b86:ba3351e848913f852cb04737e7054a9e$</string>
            <key>textureFileName</key>
            <string>bg.png</string>
        </dict>
    </dict>
</plist>
