<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>grupo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,35}</string>
                <key>spriteSourceSize</key>
                <string>{150,35}</string>
                <key>textureRect</key>
                <string>{{0,0},{150,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grupo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,38}</string>
                <key>textureRect</key>
                <string>{{0,35},{150,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grupo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,38}</string>
                <key>textureRect</key>
                <string>{{0,73},{150,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{150,111}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:98ebf1b4edd5494f132029f628799b39:78718dc2e2bb03a2035951b1635ea582:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
