<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn_opt_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{0,387},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_opt_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{0,301},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_opt_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{0,473},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_padrao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,150}</string>
                <key>spriteSourceSize</key>
                <string>{150,150}</string>
                <key>textureRect</key>
                <string>{{66,65},{150,150}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{0,645},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{0,559},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{0,215},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cura1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{261,0},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cura2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,65}</string>
                <key>spriteSourceSize</key>
                <string>{66,65}</string>
                <key>textureRect</key>
                <string>{{195,0},{66,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cura3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{0,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cura4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{65,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cura5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{66,66}</string>
                <key>spriteSourceSize</key>
                <string>{66,66}</string>
                <key>textureRect</key>
                <string>{{0,65},{66,66}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cura6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{65,65}</string>
                <key>spriteSourceSize</key>
                <string>{65,65}</string>
                <key>textureRect</key>
                <string>{{130,0},{65,65}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{388,731}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:70605848eb5ff233b80c8d0ec75f8b17:20a14f0fd395d97641651ae67d1b347f:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
