<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn120x40_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,41}</string>
                <key>spriteSourceSize</key>
                <string>{121,41}</string>
                <key>textureRect</key>
                <string>{{1,441},{121,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn120x40_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,41}</string>
                <key>spriteSourceSize</key>
                <string>{121,41}</string>
                <key>textureRect</key>
                <string>{{124,441},{121,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn120x40_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{121,41}</string>
                <key>spriteSourceSize</key>
                <string>{121,41}</string>
                <key>textureRect</key>
                <string>{{247,441},{121,41}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_close.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{370,441},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_opt.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{40,40}</string>
                <key>spriteSourceSize</key>
                <string>{40,40}</string>
                <key>textureRect</key>
                <string>{{391,391},{40,40}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_opt_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{1,1},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_opt_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{391,1},{388,86}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>btn_opt_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{1,89},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_padrao.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{433,391},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_d.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{1,177},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_n.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{1,265},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>btn_start_p.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{388,86}</string>
                <key>spriteSourceSize</key>
                <string>{388,86}</string>
                <key>textureRect</key>
                <string>{{1,353},{388,86}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>buttons.png</string>
            <key>size</key>
            <string>{478,483}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b92e5d7ca997532d7aff45ab72c0c775:ecbd6bbfbb2b251db89915c62418eccd:45890900fd32b7ad8de5c64a8d953704$</string>
            <key>textureFileName</key>
            <string>buttons.png</string>
        </dict>
    </dict>
</plist>
