<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Brigitte.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{255,350}</string>
                <key>spriteSourceSize</key>
                <string>{255,350}</string>
                <key>textureRect</key>
                <string>{{0,0},{255,350}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{428,439}</string>
                <key>spriteSourceSize</key>
                <string>{428,439}</string>
                <key>textureRect</key>
                <string>{{255,0},{428,439}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chars.png</string>
            <key>size</key>
            <string>{683,439}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46e169fa0b8135753c8b5e4177e772f2:9c4b8c21c7c168afa6a213f62a4e1d1c:7fdb2fa3d645950a8f8d0015672d332b$</string>
            <key>textureFileName</key>
            <string>chars.png</string>
        </dict>
    </dict>
</plist>
