<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{337,300}</string>
                <key>spriteSourceSize</key>
                <string>{337,300}</string>
                <key>textureRect</key>
                <string>{{0,73},{337,300}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{198,0},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char10.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{32,34}</string>
                <key>spriteSourceSize</key>
                <string>{32,34}</string>
                <key>textureRect</key>
                <string>{{243,0},{32,34}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char11.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,33}</string>
                <key>spriteSourceSize</key>
                <string>{23,33}</string>
                <key>textureRect</key>
                <string>{{220,0},{23,33}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char12.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{29,36}</string>
                <key>spriteSourceSize</key>
                <string>{29,36}</string>
                <key>textureRect</key>
                <string>{{27,35},{29,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{28,30}</string>
                <key>spriteSourceSize</key>
                <string>{28,30}</string>
                <key>textureRect</key>
                <string>{{50,0},{28,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,31}</string>
                <key>spriteSourceSize</key>
                <string>{23,31}</string>
                <key>textureRect</key>
                <string>{{175,0},{23,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,31}</string>
                <key>spriteSourceSize</key>
                <string>{22,31}</string>
                <key>textureRect</key>
                <string>{{115,0},{22,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{27,35}</string>
                <key>spriteSourceSize</key>
                <string>{27,35}</string>
                <key>textureRect</key>
                <string>{{0,35},{27,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{38,31}</string>
                <key>spriteSourceSize</key>
                <string>{38,31}</string>
                <key>textureRect</key>
                <string>{{137,0},{38,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,36}</string>
                <key>spriteSourceSize</key>
                <string>{43,36}</string>
                <key>textureRect</key>
                <string>{{56,35},{43,36}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{37,31}</string>
                <key>spriteSourceSize</key>
                <string>{37,31}</string>
                <key>textureRect</key>
                <string>{{78,0},{37,31}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>char9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{22,37}</string>
                <key>spriteSourceSize</key>
                <string>{22,37}</string>
                <key>textureRect</key>
                <string>{{99,35},{22,37}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grupo1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,35}</string>
                <key>spriteSourceSize</key>
                <string>{150,35}</string>
                <key>textureRect</key>
                <string>{{275,0},{150,35}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grupo2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,38}</string>
                <key>textureRect</key>
                <string>{{271,35},{150,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>grupo3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{150,38}</string>
                <key>spriteSourceSize</key>
                <string>{150,38}</string>
                <key>textureRect</key>
                <string>{{121,35},{150,38}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{50,3}</string>
                <key>spriteSourceSize</key>
                <string>{50,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{50,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>chars.png</string>
            <key>size</key>
            <string>{425,373}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:9f39e79031e3da37013445069d077e06:81909840c169715a00c3c28ed6d518a3:7fdb2fa3d645950a8f8d0015672d332b$</string>
            <key>textureFileName</key>
            <string>chars.png</string>
        </dict>
    </dict>
</plist>
