<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,12}</string>
                <key>spriteSourceSize</key>
                <string>{416,12}</string>
                <key>textureRect</key>
                <string>{{658,18},{416,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_health_bar_2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{418,14}</string>
                <key>spriteSourceSize</key>
                <string>{418,14}</string>
                <key>textureRect</key>
                <string>{{940,1},{418,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_health_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_health_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,18}</string>
                <key>spriteSourceSize</key>
                <string>{422,18}</string>
                <key>textureRect</key>
                <string>{{132,1},{422,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,11}</string>
                <key>spriteSourceSize</key>
                <string>{88,11}</string>
                <key>textureRect</key>
                <string>{{1172,17},{88,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,15}</string>
                <key>spriteSourceSize</key>
                <string>{92,15}</string>
                <key>textureRect</key>
                <string>{{658,1},{92,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,14}</string>
                <key>spriteSourceSize</key>
                <string>{94,14}</string>
                <key>textureRect</key>
                <string>{{1076,17},{94,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interface_mana_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{1,27},{4,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manacost_n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{8,27},{4,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manacost_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{252,21},{3,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{15,27},{4,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manacost_n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{22,27},{4,5}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>manacost_n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{215,21},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{222,21},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{228,21},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{234,21},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{240,21},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{246,21},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_cast_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,3}</string>
                <key>spriteSourceSize</key>
                <string>{43,3}</string>
                <key>textureRect</key>
                <string>{{168,28},{43,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mini_cast_bar_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,5}</string>
                <key>spriteSourceSize</key>
                <string>{45,5}</string>
                <key>textureRect</key>
                <string>{{38,25},{45,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_health_mockup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,5}</string>
                <key>spriteSourceSize</key>
                <string>{45,5}</string>
                <key>textureRect</key>
                <string>{{121,23},{45,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,3}</string>
                <key>spriteSourceSize</key>
                <string>{43,3}</string>
                <key>textureRect</key>
                <string>{{213,28},{43,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_hp_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,5}</string>
                <key>spriteSourceSize</key>
                <string>{45,5}</string>
                <key>textureRect</key>
                <string>{{168,21},{45,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{85,23},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_mage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{94,23},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_melee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{103,23},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{112,23},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{29,25},{6,7}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>party_interface_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,20}</string>
                <key>spriteSourceSize</key>
                <string>{51,20}</string>
                <key>textureRect</key>
                <string>{{79,1},{51,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_background_target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,22}</string>
                <key>spriteSourceSize</key>
                <string>{51,22}</string>
                <key>textureRect</key>
                <string>{{26,1},{51,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{556,1},{49,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{607,1},{49,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,11}</string>
                <key>spriteSourceSize</key>
                <string>{88,11}</string>
                <key>textureRect</key>
                <string>{{1262,17},{88,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_health_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,15}</string>
                <key>spriteSourceSize</key>
                <string>{92,15}</string>
                <key>textureRect</key>
                <string>{{752,1},{92,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_mana_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,11}</string>
                <key>spriteSourceSize</key>
                <string>{88,11}</string>
                <key>textureRect</key>
                <string>{{1352,17},{88,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_mana_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,15}</string>
                <key>spriteSourceSize</key>
                <string>{92,15}</string>
                <key>textureRect</key>
                <string>{{846,1},{92,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interface.png</string>
            <key>size</key>
            <string>{1441,32}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfe47009aa5974cd3d332cb44dd165a4:0fd2d76293731ad7ce232df3e7a3dc46:1513040d590d63239b3d13eeff331df4$</string>
            <key>textureFileName</key>
            <string>interface.png</string>
        </dict>
    </dict>
</plist>
