<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>boss_health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{416,12}</string>
                <key>spriteSourceSize</key>
                <string>{416,12}</string>
                <key>textureRect</key>
                <string>{{387,0},{416,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_health_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{23,24}</string>
                <key>spriteSourceSize</key>
                <string>{23,24}</string>
                <key>textureRect</key>
                <string>{{806,14},{23,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>boss_health_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{422,18}</string>
                <key>spriteSourceSize</key>
                <string>{422,18}</string>
                <key>textureRect</key>
                <string>{{184,14},{422,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{79,12}</string>
                <key>spriteSourceSize</key>
                <string>{79,12}</string>
                <key>textureRect</key>
                <string>{{803,0},{79,12}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>cast_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{94,14}</string>
                <key>spriteSourceSize</key>
                <string>{94,14}</string>
                <key>textureRect</key>
                <string>{{882,0},{94,14}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interface_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{640,54}</string>
                <key>spriteSourceSize</key>
                <string>{640,54}</string>
                <key>textureRect</key>
                <string>{{0,38},{640,54}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>interface_mana_icon.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{166,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n0.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{170,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{3,5}</string>
                <key>spriteSourceSize</key>
                <string>{3,5}</string>
                <key>textureRect</key>
                <string>{{174,0},{3,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{60,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n3.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{158,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n4.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{5,5}</string>
                <key>spriteSourceSize</key>
                <string>{5,5}</string>
                <key>textureRect</key>
                <string>{{51,0},{5,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n5.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{47,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n6.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{43,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n7.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{56,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n8.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{109,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>manacost_n9.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{4,5}</string>
                <key>spriteSourceSize</key>
                <string>{4,5}</string>
                <key>textureRect</key>
                <string>{{162,0},{4,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_health_mockup.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,5}</string>
                <key>spriteSourceSize</key>
                <string>{45,5}</string>
                <key>textureRect</key>
                <string>{{113,0},{45,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_hp_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{43,3}</string>
                <key>spriteSourceSize</key>
                <string>{43,3}</string>
                <key>textureRect</key>
                <string>{{0,0},{43,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_hp_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{45,5}</string>
                <key>spriteSourceSize</key>
                <string>{45,5}</string>
                <key>textureRect</key>
                <string>{{64,0},{45,5}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_heal.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{197,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_mage.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{177,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_melee.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{190,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_range.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{7,7}</string>
                <key>spriteSourceSize</key>
                <string>{7,7}</string>
                <key>textureRect</key>
                <string>{{204,0},{7,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_icon_tank.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{6,7}</string>
                <key>spriteSourceSize</key>
                <string>{6,7}</string>
                <key>textureRect</key>
                <string>{{184,0},{6,7}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_background.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,20}</string>
                <key>spriteSourceSize</key>
                <string>{51,20}</string>
                <key>textureRect</key>
                <string>{{704,14},{51,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_background_target.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{51,22}</string>
                <key>spriteSourceSize</key>
                <string>{51,22}</string>
                <key>textureRect</key>
                <string>{{755,14},{51,22}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_selected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{655,14},{49,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>party_interface_unselected.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{49,18}</string>
                <key>spriteSourceSize</key>
                <string>{49,18}</string>
                <key>textureRect</key>
                <string>{{606,14},{49,18}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_health_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,11}</string>
                <key>spriteSourceSize</key>
                <string>{88,11}</string>
                <key>textureRect</key>
                <string>{{299,0},{88,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_health_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,15}</string>
                <key>spriteSourceSize</key>
                <string>{92,15}</string>
                <key>textureRect</key>
                <string>{{0,14},{92,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_mana_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{88,11}</string>
                <key>spriteSourceSize</key>
                <string>{88,11}</string>
                <key>textureRect</key>
                <string>{{211,0},{88,11}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>player_mana_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{92,15}</string>
                <key>spriteSourceSize</key>
                <string>{92,15}</string>
                <key>textureRect</key>
                <string>{{92,14},{92,15}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>interface.png</string>
            <key>size</key>
            <string>{1024,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a265a42da97fc7e95e400768a4e60986:5d775cb2d823b0de20f90a5594d1e724:1513040d590d63239b3d13eeff331df4$</string>
            <key>textureFileName</key>
            <string>interface.png</string>
        </dict>
    </dict>
</plist>
