<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>life_bg.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,134}</string>
                <key>spriteSourceSize</key>
                <string>{304,134}</string>
                <key>textureRect</key>
                <string>{{0,0},{304,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>life_bg_s.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{304,134}</string>
                <key>spriteSourceSize</key>
                <string>{304,134}</string>
                <key>textureRect</key>
                <string>{{0,134},{304,134}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>lifebar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{273,20}</string>
                <key>spriteSourceSize</key>
                <string>{273,20}</string>
                <key>textureRect</key>
                <string>{{0,268},{273,20}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>life.png</string>
            <key>size</key>
            <string>{304,288}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:164f60cd17e8e6e18b7d1c7613f87287:afd8b963da15127f87704e24a2e7a209:692642b20dcdd2084ea25fd2e7288fa1$</string>
            <key>textureFileName</key>
            <string>life.png</string>
        </dict>
    </dict>
</plist>
