<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>bandeira1.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{80,56}</string>
                <key>spriteSourceSize</key>
                <string>{80,56}</string>
                <key>textureRect</key>
                <string>{{503,1},{80,56}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>bandeira2.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{59,60}</string>
                <key>spriteSourceSize</key>
                <string>{59,60}</string>
                <key>textureRect</key>
                <string>{{585,1},{59,60}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>vol_bar.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{500,24}</string>
                <key>spriteSourceSize</key>
                <string>{500,24}</string>
                <key>textureRect</key>
                <string>{{1,1},{500,24}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>vol_btn.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{30,30}</string>
                <key>spriteSourceSize</key>
                <string>{30,30}</string>
                <key>textureRect</key>
                <string>{{1,27},{30,30}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>options.png</string>
            <key>size</key>
            <string>{646,61}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6d1ba7b552850187ce2a979215f6376b:217fc92e6ce211f9861170c40f5232bc:c3323197272216b91c571a82f95baed2$</string>
            <key>textureFileName</key>
            <string>options.png</string>
        </dict>
    </dict>
</plist>
