<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>book_interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{3,-8}</string>
                <key>spriteSize</key>
                <string>{524,344}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{524,344}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>mock_sprite.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{-14.5,14.5}</string>
                <key>spriteSize</key>
                <string>{3,3}</string>
                <key>spriteSourceSize</key>
                <string>{32,32}</string>
                <key>textureRect</key>
                <string>{{578,101},{3,3}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spell_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{98,33}</string>
                <key>spriteSourceSize</key>
                <string>{98,33}</string>
                <key>textureRect</key>
                <string>{{578,1},{98,33}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
            <key>spells_frame.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{281,49}</string>
                <key>spriteSourceSize</key>
                <string>{281,49}</string>
                <key>textureRect</key>
                <string>{{527,1},{281,49}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spell_book.png</string>
            <key>size</key>
            <string>{612,346}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f46124773851346b5a23d9c8aa0dfc5f:372d00789b45c035197bb77d3cf77b5f:f7c9503ad23ca554f2d5bc453c3891fd$</string>
            <key>textureFileName</key>
            <string>spell_book.png</string>
        </dict>
    </dict>
</plist>
