<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>interface.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{14,-2}</string>
                <key>spriteSize</key>
                <string>{582,356}</string>
                <key>spriteSourceSize</key>
                <string>{640,360}</string>
                <key>textureRect</key>
                <string>{{1,1},{582,356}}</string>
                <key>textureRotated</key>
                <false/>
            </dict>
            <key>spell_box.png</key>
            <dict>
                <key>aliases</key>
                <array/>
                <key>spriteOffset</key>
                <string>{0,0}</string>
                <key>spriteSize</key>
                <string>{125,50}</string>
                <key>spriteSourceSize</key>
                <string>{125,50}</string>
                <key>textureRect</key>
                <string>{{585,1},{125,50}}</string>
                <key>textureRotated</key>
                <true/>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>3</integer>
            <key>pixelFormat</key>
            <string>RGBA8888</string>
            <key>premultiplyAlpha</key>
            <false/>
            <key>realTextureFileName</key>
            <string>spell_book.png</string>
            <key>size</key>
            <string>{636,358}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5597e567d5ba3336946989b35bb025e3:bb09c45c64b48ab83acbfa5fd7d59b89:f7c9503ad23ca554f2d5bc453c3891fd$</string>
            <key>textureFileName</key>
            <string>spell_book.png</string>
        </dict>
    </dict>
</plist>
