<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>Priest_0001.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,50},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0002.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,50},{20,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0003.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,74},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0004.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{20,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0005.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,50},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0006.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0007.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,50},{20,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0008.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,78},{20,36}}</string>
                <key>offset</key>
                <string>{-2,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0009.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,74},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0010.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{20,36}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0011.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{20,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0012.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{20,36}}</string>
                <key>offset</key>
                <string>{1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,0},{20,36}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0013.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,50},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0014.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,28},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0015.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,50},{20,34}}</string>
                <key>offset</key>
                <string>{-2,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0016.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,24},{24,34}}</string>
                <key>offset</key>
                <string>{-3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0017.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,74},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0018.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,2},{20,34}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{5,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0019.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,38},{20,34}}</string>
                <key>offset</key>
                <string>{1,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,2},{20,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>Priest_0020.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,2},{24,34}}</string>
                <key>offset</key>
                <string>{3,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,2},{24,34}}</string>
                <key>sourceSize</key>
                <string>{30,36}</string>
            </dict>
            <key>mira.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,110},{11,11}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{11,11}}</string>
                <key>sourceSize</key>
                <string>{11,11}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>priest.png</string>
            <key>size</key>
            <string>{128,128}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2fc4cf7e80ef33e2361aad756db2b3e0$</string>
            <key>textureFileName</key>
            <string>priest.png</string>
        </dict>
    </dict>
</plist>
